Source: avogadrolibs
Priority: optional
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.8), libmolequeue-dev (>= 0.8.0),
               libhdf5-dev,
Standards-Version: 3.9.6
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/avogadrolibs.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/avogadrolibs.git;a=summary

Package: avogadrolibs-dev
Section: libdevel
Architecture: any
Depends: avogadrolibsBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: avogadrolibsBROKEN
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
